@import 'src/variables';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.movie-list {
    margin: 2rem;

    @media (max-width: $mobile-breakpoint) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .movie-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9.438rem, 1fr));
        gap: 1.5rem;
        max-width: 1440px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        .movie-card {
            cursor: pointer;
            width: 9.438rem;
            height: 14.156rem;
            opacity: 0;
            animation: fadeIn 0.3s forwards;

            &.selected {
                margin-bottom: 27rem;

                .poster {
                    transform: scale(1.05);
                }

                .arrow {
                    width: 18px;
                    height: 18px;
                    border-left: 1px solid rgba($foreground-light, 0.5);
                    border-top: 1px solid rgba($foreground-light, 0.5);
                    background: linear-gradient(
                        135deg,
                        $background-dark 50%,
                        transparent 50%
                    );
                    transform: rotate(45deg);
                    position: absolute;
                    margin-left: 4.3rem;
                    margin-top: 0.95rem;
                    z-index: 10;
                }
            }

            .poster {
                transition: transform 0.15s;
                border: 1px solid rgba($foreground-light, 0.5);
                min-width: 9.438rem;
                max-width: 9.438rem;
                min-height: 14.156rem;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .error {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}
