@import 'src/variables';

.movie-list {
    margin: 2rem;

    .movie-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(9.438rem, 1fr));
        gap: 1.5rem;
        max-width: 1440px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        .movie-card {
            cursor: pointer;
            max-width: 9.438rem;
            height: 14.156rem;

            &.selected {
                margin-bottom: 27rem;

                .poster {
                    transform: scale(1.05);
                }

                .arrow {
                    width: 18px;
                    height: 18px;
                    border-left: 1px solid rgba($foreground-light, 0.5);
                    border-top: 1px solid rgba($foreground-light, 0.5);
                    background: linear-gradient(
                        135deg,
                        $background-dark 50%,
                        transparent 50%
                    );
                    transform: rotate(45deg);
                    position: absolute;
                    margin-left: 4.3rem;
                    margin-top: 0.95rem;
                    z-index: 10;
                }
            }

            .poster {
                max-width: 9.438rem;
                transition: transform 0.15s;
                border: 1px solid rgba($foreground-light, 0.5);

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}
