@import 'src/variables';

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-180deg);
    }
}

.loading {
    margin: 5rem auto;
    height: 5rem;
    display: flex;
    flex-direction: column;
    color: rgba($foreground-light, 0.8);

    img {
        height: 3rem;
        margin-bottom: 1rem;
        animation: spin infinite 0.7s ease-in-out;
    }
}
