body {
  margin: 0;
  font-family: sourceSansPro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: sourceSansPro;
  src: url(../public/SourceSansPro-Regular.ttf);
}
